<% content_for :head do %>
  <%= stylesheet_link_tag 'redmond/jquery-ui-1.7.2.custom' %>
  <%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min' %>
  <script type="text/javascript">
       	jQuery(function() {
			  jQuery("#search_created_at").datepicker() 
			  });
	</script>
<% end %>
<br /><br />
<h1>Listing orders</h1>
<hr />
<% form_for @search do |f| -%>
    Name: <%= f.text_field :buyer_name_like, :class => 'textbox'-%>
    email: <%= f.text_field :buyer_email_like, :class => 'textbox'-%>
    date: <%= f.text_field :created_at_like, :class => 'textbox-small',:id => 'search_created_at' -%>
    <%= f.submit 'Search orders'-%>
  <% end %>

<% unless @orders.blank? %>
  <table class ='listing'>
    <tr>
      <th>Name</th> <th>Email</th> <th> Ip address </th><th>Date ordered </th> <th>Payment reference</th><th>Status</th> <th>Amount</th>
    </tr>

    <% @orders.each do |order| %>
      <tr class="<%=cycle("odd", "even")%>">
        <td><%=order.buyer.name %></td> 
        <td><%=order.buyer.email %></td>
        <td><%=order.buyer.ip_address %></td>
        <td><%=order.created_at.strftime('%d/%m/%Y') %></td>
        <td><%=order.express_payer_id %></td>
        <td><%=(order.transaction.success ? 'Success' : 'Failed') unless order.transaction.blank? %></td>
        <td><%=order.amount %></td>
      </tr>
    <% end %>
   
  </table>
   <div id="pg"><%=will_paginate @orders%></div>
<% else %>
  <br />No orders yet.
<% end %>
