<% form_for(@order) do |f| %>
  <%= f.error_messages %>

 <% f.fields_for :buyer do |buyer| %>
    <P> Amount: &pound;9.95 </p>
    <p> Please verify and confirm your personal details. </p> 
    <p>
      <%= buyer.label :name %>
      <%= buyer.text_field :name, :class => 'textbox' %>
    </p>

    <p>
      <%= buyer.label :email %>
      <%= buyer.text_field :email, :class => 'textbox' %>
   </p>
   <%= buyer.hidden_field :ip_address, :value => request.remote_ip %>
  <% end %>
  <%= f.submit "update" %>
<% end %>

