<% form_for(@order) do |f| %>
  <%= f.error_messages %>

 <% f.fields_for :buyer do |buyer| %>
    <P> Amount: &pound;9.95 </p>
    <p> Please verify and confirm your personal details, fetched from paypal. </p>
    <p>
      <%= buyer.label :name %>
      <%= buyer.text_field :name, :class => 'textbox' %>
    </p>

    <p>
      <%= buyer.label :email_address_where_you_will_receive_stag_guide %>
      <%= buyer.text_field :email, :class => 'textbox' %>
   </p>

  <% end %>
  <%= f.submit "Confirm" %>
<% end %>
<br />

