<% form_for(@order) do |f| %>
  <h2>Please provide us following information to complete your order.</h2>

  <%= f.error_messages %>
 
  <% f.fields_for :buyer do |buyer| %>
    <P> Amount: &pound;9.95 </p>
    <p>
      <%= buyer.label :name %>
      <%= buyer.text_field :name, :class => 'textbox' %>
    </p> 

    <p>
      <%= buyer.label :email %>
      <%= buyer.text_field :email, :class => 'textbox' %>
   </p> 
   <%= buyer.hidden_field :ip_address, :value => request.remote_ip %>
  <% end %> 
  <%= f.hidden_field :payment_type, :value => 'paypal' %>
  <%= f.hidden_field :amount, :value => '10' %>
  <p>

   <!-- This button image is part of paypal's hosted(saved) button. We are doing post to paypal url in orders/create action instead of pasting actual button's code here in form. --> 

    <input type="image" src="https://www.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
  </p>
<% end %>
