<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Stag night in Riga") %></title>
    <%= stylesheet_link_tag 'styles' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="header_links">
      <%if current_user%>
        <%= link_to "Goto public site", root_path %> | <% if find_setting.blank? %> <%= link_to "Upload guide", new_admin_setting_path %>  <%else%> <%= link_to "Upload guide", edit_admin_setting_path(@setting) %> <%end%> | <%= link_to 'Orders', admin_orders_url %> | <%= link_to "Logout", logout_path %>
      <%else%>
         <%= link_to "Login", login_path %>
      <%end%>
    </div>
    <div id="container_wide">

       <div id="logo_left"><img src="/images/logo.jpg" alt="Stag night in Riga"  width="195"  height="110" border="0" /></div>

         <div id="heading-right"><h1>Stag night in Riga <br /><br /><span> Administration</span></h1></div>
         <div style="clear:both"></div>
      <!-- <h1>stagnightinriga.com <span>- Administration</span></h1> -->
       <div id="admin_section">
         <%- flash.each do |name, msg| -%>
      	    <%= content_tag :div, msg, :id => "flash_#{name}" %>
         <%- end -%>
         <%= yield %>
        </div>
    </div>


    <div id="footer">

      <p><%= link_to 'Home', root_url, :title => 'Home'%> | <%= link_to 'Why Riga', why_riga_url, :title => 'Why Riga' %> | <%= link_to "What&apos;s in the Stag guide?", what_is_in_stag_guide_url, :title => 'Whats in the Stag guide' %>
 <br/><span>Copyright &copy; stagnightinriga.com</span>.</p>

    </div>

  </body>
</html>

