<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Stag night in Riga") %></title>
    <%= stylesheet_link_tag 'styles' %>
    
    <%= yield(:head) %>
  </head>
  <body>
     <div class="header_links">
      <%if current_user%>
        <%= link_to "Administration", admin_orders_path %>
      <%end%>	
    </div>
    <div id="container">
     <h1><img src="/images/heading-old.jpg" /></h1>
      <div id="topPan">
        <ul class="menu">
	    <li><%= link_to 'Home', root_url, :title => 'Home', :class => request.request_uri == "/" ? 'active': 'link' %></li>
	    <li><%= link_to 'Why Riga?', why_riga_url, :title => 'Why Riga?', :class => request.request_uri =~ /why_riga/? 'active': 'link' %></li>
            <li><%= link_to "What's in the Stag guide?", what_is_in_stag_guide_url, :title => 'Whats in the Stag guide?', :class => request.request_uri =~ /what_is_in_stag_guide/? 'active': 'link' %></li>
        </ul>
      </div>

     <div id="content">
       <div id = "content_top">
         <div id="logo_left"><a href="#"><img src="/images/logo.jpg" alt="Stag night in Riga" border="0" height="180" width="235"></a> </div>
	 <div id="logo_right"><%= yield(:image) %></div>

         <div style="clear:both"></div>
      </div>

        <div id="incontent">
           <%- flash.each do |name, msg| -%>
      	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
           <%- end -%>

           <%= yield %>
        </div>

       <div class="clear"></div>
     </div>
</div>


<div id="footer">

<p><%= link_to 'Home', root_url, :title => 'Home'%> | <%= link_to 'Why Riga', why_riga_url, :title => 'Why Riga' %> | <%= link_to "What's in the Stag guide?", what_is_in_stag_guide_url, :title => 'Whats in the Stag guide' %> 
<br/><span>Copyright &copy; stagnightinriga.com</span>.</p>

</div>
 
  </body>
</html>
